body {
    margin: 0px;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: minmax(80px, 1fr) 15fr minmax(80px, 1fr);
    grid-template-columns: 1fr;
}

section.header {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}



section.library {
    display: grid;
    background-color: lightgray;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    grid-auto-rows: 14rem;
    justify-content: start;
    align-content: start;
    gap: 1rem;
}

section.library>*{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 1rem;
    align-content: end;
    text-align: center;
}



section.library>div.book>div {
    grid-column: 1/6;





}

div.book>button {
    grid-column: 5/6;

}

section.footer {
    background-color: green;
}